In [4]:
import csv  
import requests
from bs4 import BeautifulSoup
import sqlite3
import pandas as pd
import openpyxl

In [2]:
#0 sql query to get books that has rate >=3 and has 'Mr' in its name.
connection=sqlite3.connect("DB.db")
sql='SELECT * FROM books WHERE Rate>=? and Title LIKE ? '
rowss=connection.execute(sql,[3,"%MR%"]).fetchall()
connection.commit()
connection.close()
print(len(rowss))

3

In [3]:
#sql query to get books that has rate >=3 or price > 20.
connection=sqlite3.connect("DB.db")
sql='SELECT * FROM books WHERE Rate>=? and Price >? '
rowss=connection.execute(sql,[3,20]).fetchall()
connection.commit()
connection.close()
print(len(rowss))

462

In [4]:
#sql query to get books that has price between 10 and 40 and has rate 3 or 4 or 1.

connection=sqlite3.connect("DB.db")
sql='SELECT * FROM books WHERE Price BETWEEN ? AND ? AND Rate IN(?,?,?)  '
rowss=connection.execute(sql,[10,40,1,2,3]).fetchall()
connection.commit()
connection.close()
print(len(rowss))

384

In [5]:
#sql query to get the top 5 most expensive books (order books desc with price column and then limit the result to the first 5).
connection=sqlite3.connect("DB.db")
sql='SELECT  * FROM books ORDER BY(?) LIMIT(?) '
rowss=connection.execute(sql,["Price",5]).fetchall()
connection.commit()
connection.close()
print(rowss)

[(1, "It's Only the Himalayas", 45.17, 2, 1), (2, 'Full Moon over Noahâ\x80\x99s Ark: An Odyssey to Mount Ararat and Beyond', 49.43, 4, 1), (3, 'See America: A Celebration of Our National Parks & Treasured Sites', 48.87, 3, 1), (4, 'Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel', 36.94, 2, 1), (5, 'Under the Tuscan Sun', 37.33, 3, 1)]

In [ ]:
#sql query to add a new category in categories table and add 5 books to this category in books table with title, rate and price
connection=sqlite3.connect("DB.db")
sql='INSERT INTO category (Name) VALUES(?) '
rowss=connection.execute(sql,["newcat"])
connection.commit()
connection.close()
print(rowss)
#######################################################
for i in range(5):
    Title="book2"
    Price=2
    Rate=3
    connection=sqlite3.connect("DB.db")
    sql='INSERT INTO books (Title,Price,Rate,Cat_id) VALUES(?,?,?,?) '
    ro=connection.execute(sql,[Title,Price,Rate,rowss.lastrowid])
    connection.commit()
connection.close()
print(rowss)


# add what u desier 
#     for i in range(5):
#     Title=input()
#     Price=input()
#     Rate=input()
#     connection=sqlite3.connect("DB.db")
#     sql='INSERT INTO books (Title,Price,Rate,Cat_id) VALUES(?,?,?,?) '
#     ro=connection.execute(sql,[Title,Price,Rate,rowss.lastrowid])
#     connection.commit()
# connection.close()
# print(rowss)

In [4]:
#sql query to update book's rate to 3 that thier price < 20£

connection=sqlite3.connect("DB.db")
sql='UPDATE books SET Rate=? WHERE Price <? '
rowss=connection.execute(sql,[3,20])
connection.commit()
print(rowss)
connection.close()

<sqlite3.Cursor object at 0x0000023C2ABA71F0>

In [21]:
#  sql query to delete all books that have price > 50£ and has rate <= 2.
connection=sqlite3.connect("DB.db")
sql='DELETE from books WHERE Rate<=? and Price >? '
rowss=connection.execute(sql,[2,50])
connection.commit()
print(rowss)
connection.close()

<built-in method fetchall of sqlite3.Cursor object at 0x0000023C2B756340>

In [20]:
# sql query to count the number of books that have 'Secret' in thier names and price between 10£ and 25£
connection=sqlite3.connect("DB.db")
sql='SELECT COUNT(Book_id) FROM books  WHERE Title LIKE ? and Price BETWEEN ? and ?  '
rowss=connection.execute(sql,["%Secret%",10,25])
connection.commit()
print(rowss.fetchall()[0][0])
connection.close()

5

In [27]:
# sql query to get the minimum & maximum price for all the books that have rate 5.
connection=sqlite3.connect("DB.db")
sql='SELECT MAX(Price),MIN(Price) FROM books WHERE Rate =?'
rowss=connection.execute(sql,[5])
connection.commit()
print(rowss.fetchall())
connection.close()

[(59.92, 20.02)]

In [31]:
#Write a sql query to calculate the avg price for all the books that have rate 5.
connection=sqlite3.connect("DB.db")
sql='SELECT AVG(Price)FROM books WHERE Rate =?'
rowss=connection.execute(sql,[5])
connection.commit()
print(rowss.fetchall())
connection.close()

[(41.05000000000002,)]

In [32]:
# query to calculate the avg price for all the books that have rate 5.
connection=sqlite3.connect("DB.db")
sql='SELECT SUM(Price) FROM books WHERE Rate =? AND Price BETWEEN ? and ?'
rowss=connection.execute(sql,[2,10,40])
connection.commit()
print(rowss.fetchall())
connection.close()

[(2772.749999999999,)]

In [38]:
#sql query to join both books & categories table into one new table containing book_name & category_name & book_rate and book_price.
connection=sqlite3.connect("DB.db")
sql='SELECT * FROM books INNER JOIN category ON books.Cat_id = category.Cat_id '
rowss=connection.execute(sql,[])
connection.commit()
print(rowss.fetchall()[0])
connection.close()

(1, "It's Only the Himalayas", 45.17, 2, 1, 1, 'Travel')

In [41]:
#sql query to calculate how many books each rate has and have price between 20£ and 30£.
connection=sqlite3.connect("DB.db")
sql='SELECT COUNT(*) FROM books WHERE Price BETWEEN 10 and 30 GROUP BY Rate'
rowss=connection.execute(sql)
connection.commit()
print(rowss.fetchall())
connection.close()

[(56,), (40,), (237,), (34,), (36,)]

In [44]:
#sql query to calculate how many books each category has having count > 10.
connection=sqlite3.connect("DB.db")
sql='SELECT COUNT(*) FROM books GROUP BY Cat_id  HAVING COUNT(*) > 10'
rowss=connection.execute(sql)
connection.commit()
print(rowss.fetchall())
connection.close()

[(11,), (30,), (24,), (70,), (17,), (33,), (16,), (60,), (28,), (104,), (11,), (144,), (14,), (60,), (40,), (50,), (13,), (18,), (15,), (16,), (28,), (11,), (11,)]

In [46]:
#sql query to get all books with category_name='Music' using subquery.
connection=sqlite3.connect("DB.db")
sql='SELECT * FROM books WHERE Cat_id=(SELECT Cat_id FROM category WHERE Name="Music") '
rowss=connection.execute(sql)
connection.commit()
print(len(rowss.fetchall()))
connection.close()

11

In [9]:
conn = sqlite3.connect('DB.db')
df=pd.read_sql('SELECT * FROM books',con=conn)
df.to_excel('Fmohamed.xlsx', index = False)

In [10]:
#Defining the path which excel needs to be created
# There must be a pre-existing excel sheet which can be updated
FilePath = "Fmohamed.xlsx"

# Generating workbook
ExcelWorkbook = openpyxl .load_workbook(FilePath)

# Generating the writer engine
writer = pd.ExcelWriter(FilePath, engine = 'openpyxl')

# Assigning the workbook to the writer engine
writer.book = ExcelWorkbook
df=pd.read_sql('SELECT * FROM category',con=conn)
df.to_excel(writer, sheet_name = 'Data2')
writer.save()
writer.close()
conn.close()